div#media {
	height: 100%;
	position: relative;
	
	.controls {
		margin: 15px 0 0;
		
		.left {
			padding-left: 0;
		}
		
		.right {
			padding-right: 0;
		}
		
		.filter {
			
		}
		
		a {
			float: right;
			
			&.add {
				.at2x('/img/content/media/controls/add_icon.png', 22px, 22px);
				
				width: 22px;
				height: 22px;
				padding: 20px;
				background-position: center center;
			}
		}
	}
		
	.items {
		.item {
			height: 242px;
			margin-top: 15px;
			
			.poster {
				height: 100%;
				width: 100%;
				background-color: #dbdbdb;
				background-size: cover;
				background-position: center center;
				display: block;
			}
			
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				height: 241px;
				right: 0;
				
				.status {				
					position: absolute;
					right: 15px;
					top: 15px;
					width: 22px;
					height: 17px;
					line-height: 17px;
					min-width: 17px;
					border-radius: 9px;
					background-color: #FF992F;
					display: block;
					color: white;
					text-transform: uppercase;
					font-size: 10px;
					text-align: center;
					
					&.watched {
						.at2x('/img/content/media/item/seen_icon.png', 13px, 11px);
						
						background-color: #DA7915;
					}
				}
			}
			
			.attr {
				position: absolute;
				bottom: 0;
				left: 15px;
				right: 15px;
				background: rgba(0, 0, 0, 0.6);
				margin-top: 5px;
				padding: 10px;
				font-weight: 200;
				
				label {
					margin-right: 50px;
					margin-bottom: 0;
					color: #ffffff;
					font-weight: inherit;
				}
			
				span {
					width: 50px;
					color: #A9A9A9;
					position: absolute;
					right: 10px;
					text-align: right;
				}
			}
			
			.progress-overlay {
				position: absolute;
				top: 0;
				left: 15px;
				right: 15px;
				bottom: 0;
				background: rgba(0, 0, 0, 0.7);
				display: none;
			}
		}
	}
	
	.no-items {
		padding-top: 300px;
		text-align: center;
		color: #5e5e5e;
		font-size: 26px;
		font-weight: 500;
	}
	
	&.tvshows {
		.no-items {
			.at2x('/img/content/media/tv_icon_large.png', 129px, 129px);
			
			background-position: 50% 150px;
		}
	}
}