div#media {
	height: 100%;
	position: relative;
	
	.controls {
		padding: 15px 30px;
		position: fixed;
		top: 89px;
		left: 0;
		right: 0;
		z-index: 9;
		background: #393939;
		
		.left {
		}

		.right {
		}
		
		.filter {
			
		}
		
		a {
			float: right;
			
			&.add {
				.at2x('/img/content/media/controls/add_icon.png', 22px, 22px);
				
				width: 22px;
				height: 22px;
				padding: 20px;
				background-position: center center;
			}
		}
	}
		
	.items {
		position: relative;
		margin: 160px 15px 30px;

		.item {
			height: 242px;
			margin-top: 30px;
			cursor: pointer;
			
			.poster {
				height: 100%;
				width: 100%;
				background-color: #dbdbdb;
				background-size: cover;
				background-position: center center;
				display: block;
			}
			
			.overlay {
				position: absolute;
				top: 0;
				left: 15px;
				height: 241px;
				right: 15px;
				
				.status {				
					position: absolute;
					right: 7px;
					top: 7px;
					height: 17px;
					padding: 0 4px;
					line-height: 17px;
					min-width: 17px;
					border-radius: 9px;
					background-color: #FF992F;
					display: block;
					color: white;
					text-transform: uppercase;
					font-size: 10px;
					text-align: center;
					
					/* Not yet available for download. */
					&.wanted {
						display: none;
					}
					
					/* Snatched and downloaded */
					&.downloading {
						background: #B5B5B5;
					}
					
					/* Dowload complete and ready to be watched */
					&.downloaded {
						.at2x('/img/content/media/item/seen_icon.png', 13px, 11px);
					
						background: #B5B5B5;
					}
					
					/* Watched */
					&.watched {
						.at2x('/img/content/media/item/seen_icon.png', 13px, 11px);
						
						background-color: #DA7915;
					}
				}
			}
			
			.attr {
				position: absolute;
				bottom: 0;
				left: 15px;
				right: 15px;
				background: rgba(0, 0, 0, 0.6);
				margin-top: 5px;
				padding: 10px;
				font-weight: 200;
				
				label {
					margin-right: 50px;
					margin-bottom: 0;
					color: #ffffff;
					font-weight: inherit;
				}
			
				span {
					width: 50px;
					color: #A9A9A9;
					position: absolute;
					right: 10px;
					text-align: right;
				}
			}
			
			.progress-overlay {
				position: absolute;
				top: 0;
				left: 15px;
				right: 15px;
				bottom: 0;
				background: rgba(0, 0, 0, 0.7);
				display: none;
			}
		}
	}
	
	.no-items {
		padding-top: 300px;
		text-align: center;
		color: #5e5e5e;
		font-size: 26px;
		font-weight: 500;
	}
	
	&.tvshows {
		.no-items {
			.at2x('/img/content/media/tv_icon_large.png', 129px, 129px);
			
			background-position: 50% 150px;
		}
	}
}