<div id="media-info">
    <div class="backdrop">
        <div class="image"
             afkl-lazy-image="{{media.get('backdrop').url}}"
             afkl-lazy-image-options="{'background': true}"></div>
        <div class="overlay">
            <div class="inner"></div>
        </div>
    </div>
    <div class="control-bar">
        <a class="back">Back</a>
        <div class="controls">
            <a class="refresh" ng-click="media.save()"></a>
        </div>
    </div>
    <div class="info">
        <h2>{{media.get('title')}}</h2>
        <div class="attr">
            <span class="year">{{media.year()}}</span>
            <div class="tags">
                <span>Science Fiction</span>
            </div>
        </div>
        <div class="rating four"></div>
        <div class="overview">
            <p>{{media.get('overview')}}</p>
        </div>
    </div>
</div>