#info {

    margin-top: 30px;

    .poster {
        .img {
            height: 409px;
            background-size: cover;
        }

        .status {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 80px;
            min-height: 40px;
            border-radius: 4px;
            background: #B5B5B5;
        }
    }

    .info {
        color: #ffffff;

        .head {
            .name {
                h3 {
                    display: inline-block;
                    font-size: 40px;
                }

                span.year {
                    line-height: 26px;
                    display: inline-block;
                    margin-left: 15px;
                    color: #606060;
                    font-size: 25px;
                }
            }
        }
    }

}