#info {

    margin-top: 30px;

    .poster {
        .img {
            height: 409px;
            background-size: cover;
        }

        .status {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 80px;
            min-height: 40px;
            border-radius: 4px;
            background: #B5B5B5;
        }
    }

    .info {
        color: #ffffff;

        .head {
            .name {
                h3 {
                    display: inline-block;
                    font-size: 40px;
                }

                span.year {
                    line-height: 26px;
                    display: inline-block;
                    margin-left: 15px;
                    color: #606060;
                    font-size: 25px;
                }
            }
        }

        .controls {
            background: #333333;
            display: inline-block;
            line-height: 40px;
            border-radius: 6px;
            
            a {
                float: left;
                height: 40px;
                padding: 0 15px;
                background-position: center center;
                cursor: pointer;
                min-width: 44px;

                &.quality {
                    background: #D8D8D8;
                    border-radius: 6px;
                    color: #606060;
                    font-weight: bold;
                    margin: 0 5px 0 0;
                    font-size: 17px;
                }

                &.refresh {
                    .at2x('/img/content/media/info/refresh_icon.png', 21px, 22px);
                }

                &.unwatched {
                    .at2x('/img/content/media/info/unwatched_icon.png', 30px, 18px);
                }

                &:last-child {
                    margin-right: 5px;
                }
            }
        }
    }

}