//
   Created by nickbabenko on 17/02/15.

script#media-info(type="text/html")
   div.poster.col-md-4.col-sm-4.hidden-xs
      div.img
      |<span class="status <%= status() %>"><%= statusText() %></span>
   div.info.col-md-8.col-sm-8.col-xs-12
      div.head.row
         div.name.col-md-10.col-sm-12.col-xs-12
            h3!='<%= title %>'
            span.year!='<%= availableDate.format(\'YYYY\') %>'
         span.rating.col-md-2.col-sm-12.col-xs-12
      div.row
         div.controls.col-md-9.col-sm-9.col-xs-8
            div.inner
               a.quality 1080p
               a.refresh
               a.toggle-watched.unwatched
         span.release.col-md-3.col-sm-3.col-xs-4!='<%= availableDate.format(\'Do MMMM YYYY\') %>'
      div.description!='<%= overview %>'
      div.seasons.row