#dialog {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.61);
	
	.content {
		position: absolute;
		left: 50%;
		top: 50%;
		background: #ffffff;
	}
	
	&.search {
		.content {
			form {
				position: relative;
				
				input[type=search] {
					width: 600px;
					height: 45px;
				}
				
				i.icon {
					.at2x('/img/content/media/search/search_icon.png', 19px, 20px);
					
					width: 19px;
					height: 20px;
					position: absolute;
					top: 50%;
					right: 15px;
					margin-top: -10px;
				}
			}
			
			ul {
				overflow: auto;
				max-height: 300px;
				border-top: 1px solid #e3e3e3;
				display: none;
			
				li {
					line-height: 30px;
					padding: 0 15px;
				
					label {
						font-weight: normal;
					}
					
					span {
						float: right;
						color: #9c9c9c;
					}
					
					&:hover {
						background: #e3e3e3;
						cursor: pointer;
					}
				}
			}
		}
	}
}