doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Playback Media Server
		link(rel="stylesheet", href="/css/style.css")
		script(type="text/javascript", src="/js/lib/require.js", data-main="/js/bootstrap.js")
	body
		div#wrapper.container-fluid
			header
				h1
				ul.main
					li.movies
						a(href="/#media/movie") Movies
					li.tvshows
						a(href="/#media/tv") TV Shows
					li.notifications
						a
					li.settings
						a(href="/#settings")
			div#content
				block content